{% extends "base.twig" %}


{% block body_class %}has-navbar-fixed-top
{% endblock %}

{% block body %}
	{{component('public/nav')}}

	{{component('title', {title: pageTitle})}}
	{% if hero %}
		{{component('hero', {title: page.title, subtitle: page.subtitle, image: page.image})}}
	{% endif %}

	<div class="container is-fluid">
		{% block content %}{% endblock %}
	</div>

{% endblock %}
