{% extends "templates/page.twig" %}


{% block content %}


	<section class="section has-margin-top-md">
		<div class="container">
			<div class="columns">
				<h3 class="title is-4">
					<div class="notification is-success is-light">
						<i class="fas fa-check"></i>&nbsp; Your order has been placed successfully.
					</div>
				</h3>

			</div>
			<div class="columns has-margin-top-nm">
				<div class="column is-6">
					<p class="content is-medium">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi vitae consequatur voluptatibus? Rem impedit odio quaerat, quos labore animi laudantium qui possimus hic laboriosam obcaecati aperiam et optio repellendus tenetur.
					</p>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
